{% extends "base.html.twig" %}
{% block content %}


  <div id="content" class='work'>
                    <div>
                          <h2>apps</h2>
                          <ul>
                            <li>
                              <a title='8-Bit Tea' href='http://itunes.apple.com/us/app/8-bit-tea/id427924870?mt=8'><img src='images/8bittea.png' width='50px' /></a>
                             &nbsp;
                              <a title='Play Stoplight' href='http://itunes.apple.com/us/app/play-stoplight/id475205154?mt=8'><img src='images/playstoplight.png' width='50px' /></a>
                            </li>
                         </ul>
                         
                    </div>
              </div> 
{% endblock %}
