{% extends "base.html.twig" %}

{% block content %}
 <div id="content" class="content">
     <div> 
<script type="text/javascript" src="swfobject.js"></script>
		<script type="text/javascript">
		swfobject.registerObject("myId", "9.0.0", "/views/pages/resources/expressInstall.swf");
		</script>


  			<object id="myId" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="900" height="600">
				<param name="movie" value="/views/pages/resources/HelloWorld.swf" />
        		<!--[if !IE]>-->
				<object type="application/x-shockwave-flash" data="/views/pages/resources/HelloWorld.swf" width="900" height="600">
				<!--<![endif]-->
				<div>
					<h1>Alternative content</h1>
					<p><a href="http://www.adobe.com/go/getflashplayer"><img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" /></a></p>
				</div>
				<!--[if !IE]>-->
				</object>
				<!--<![endif]-->
			</object>
		




     </div>
 </div> 

{% endblock %}
